<meta charset="UTF-8">
<meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= title %></title>
<meta name="description" content="<%= description %>">

<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

<link rel="canonical" href="<%= canonicalUrl %>">

<meta property="og:type" content="website">
<meta property="og:site_name" content="<%= title %>">
<meta property="og:url" content="<%= canonicalUrl %>" />
<meta property="og:title" content="<%= title %>" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:image" content="https://www.fredericaerts.com/img/avatar/frederic-aerts@2x.jpg" />
<meta property="og:image:width" content="320" />
<meta property="og:image:height" content="320" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@fredericAerts" />
<meta name="twitter:title" content="Frederic Aerts | <%= title %>" />
<meta name="twitter:description" content="<%= description %>" />
<meta name="twitter:image" content="https://www.fredericaerts.com/img/avatar/frederic-aerts@2x.jpg" />

<link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>