<% var head = require('@meta/head.ejs'); %>
<% var pageHeader = require('@components/page-header/page-header.ejs'); %>
<% var pageHero = require('@components/page-hero/page-hero.ejs'); %>
<% var pageSection = require('@components/page-section/page-section.ejs'); %>
<% var partnersBlock = require('@components/partners-block/partners-block.ejs'); %>
<% var pageFooter = require('@components/page-footer/page-footer.ejs'); %>
<% var foot = require('@meta/foot.ejs'); %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= head({
      title: 'Highlight Science Writing',
      description: 'We provide communication services for academics.',
      canonicalUrl: 'https://www.highlight-science-writing.com',
    }) %>
  </head>
  <body>
    <!-- <%= pageHeader() %> -->
    <%= pageHero() %>
    <%= pageSection({
      title: 'Remarkable research',
      subtitle: 'Public relations for scientists, both online and offline',
      classModifier: 'research',
    }) %>
    <%= pageSection({
      title: 'Effective outreach',
      subtitle: 'Press texts, patient or public engagement, stakeholder strategy',
      classModifier: 'outreach',
    }) %>
    <%= pageSection({
      title: 'Clear science',
      subtitle: 'Crossing the t’s and dotting the i’s on manuscripts and grant applications',
      classModifier: 'science',
    }) %>
    <%= partnersBlock({
      partners: [
        {
          name: 'VIB',
          logo: '/img/logo/VIB.svg',
          link: 'https://vib.be/',
        },
        {
          name: 'NERF',
          logo: '/img/logo/NERF.svg',
          link: 'https://www.nerf.be/',
          inflate: true,
        },
        {
          name: 'Wageningen Universiteit',
          logo: '/img/logo/wur.png',
          link: 'https://www.wur.nl/',
        },
        {
          name: 'NREL',
          logo: '/img/logo/NREL.png',
          link: 'https://www.nrel.gov/',
        },
        {
          name: 'KU Leuven',
          logo: '/img/logo/kul.svg',
          link: 'https://www.kuleuven.be/',
        },
        {
          name: 'University of Sydney',
          logo: '/img/logo/university-of-sydney.png',
          link: 'https://www.sydney.edu.au/',
        },
      ],
    }) %>
    <%= pageFooter() %>
    <%= foot() %>
  </body>
</html>